/* Editor Styles */
#editor {
    width: 100%;
    height: 100%;
}

.running-mode {
    border: 2px solid red !important;
    box-sizing: border-box;
}

/* Execution Highlight Marker */
.eval-marker {
    background-color: rgba(255, 95, 86, 0.3);
    border-bottom: 2px solid #ff5f56;
}

/* Variable Definition Highlight */
.variable-def-highlight {
    background-color: rgba(0, 50, 255, 0.2);
    border-bottom: 2px solid #4a4aff;
}

/* Error Highlight Marker */
.error-marker {
    background-color: rgba(255, 0, 0, 0.2);
    border-bottom: 2px solid red;
}