/* Editor Styles */
#editor {
    width: 100%;
    height: 100%;
}

.running-mode {
    border: 2px solid red !important;
    box-sizing: border-box;
}

/* Execution Highlight Marker */
.eval-marker {
    position: absolute;
    background-color: rgba(255, 95, 86, 0.3);
    border-bottom: 2px solid #ff5f56;
    z-index: 20;
}

/* Error Highlight Marker */
.error-marker {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.4) !important;
    border-bottom: 2px solid red !important;
    z-index: 20;
}