@keyframes flash-update {
    0% {
        background-color: rgba(255, 255, 0, 0.5);
    }

    100% {
        background-color: transparent;
    }
}

.flash-update {
    animation: flash-update 1s ease-out;
}